*.md                linguist-language=Markdown

.github/*           linguist-vendored=false
.vscode/*           linguist-vendored=false
app/styles/vendor/* linguist-vendored
app/vendor/*        linguist-vendored