//Hatayama 1
//A6CFE2
//2B303A
//F1FFFA
//F6F7EB
//134074

//Hatayama 2
//1B1D1C
//53A2BE
//1D84B5
//176087
//191D32

body {
  // Sticky footer
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  color: $metal;
  background: $white;
  
  height: 300vh;

  &:not(#transparent) {
    // Fixed header offset
    padding-top: 54px;
  }
}



main {
  @extend .container;
  // Sticky footer
  flex: 3;
}

footer {  
  height: 54px;
  div { @extend .container; }
  span { @extend .text-muted; }
}