//Hatayama 1
//A6CFE2
//2B303A
//F1FFFA
//F6F7EB
//134074

//Hatayama 2
//1B1D1C
//53A2BE
//1D84B5
//176087
//191D32

body {
    background: $white;
    color: $metal;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    &:not(.offset) {
        // Fixed header offset
        padding-top: 54px;
    }
}

%base {
    flex: 3;
}

main {
    @extend .container;
    @extend %base;
    // Sticky footer
    flex: 3;
}

a {
    color: $poppy;
}

footer {
    height: 54px;
    div { @extend .container; }
    span { @extend .text-muted; }
}
