@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: normal;
    src: local('Noto Sans'), local('Noto Sans Regular'), local('NotoSans'),
         url('/fonts/noto-sans/regular.eot?#iefix') format('embedded-opentype'),
         url('/fonts/noto-sans/regular.woff2') format('woff2'),
         url('/fonts/noto-sans/regular.woff') format('woff'),
         url('/fonts/noto-sans/regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Noto Sans Bold';
    font-style: normal;
    font-weight: bold;
    src: local('Noto Sans'), local('Noto Sans Bold'), local('NotoSans-Bold'),
         url('/fonts/noto-sans/bold.eot?#iefix') format('embedded-opentype'),
         url('/fonts/noto-sans/bold.woff2') format('woff2'),
         url('/fonts/noto-sans/bold.woff') format('woff'),
         url('/fonts/noto-sans/bold.ttf') format('truetype');
}

@font-face {
    font-family: 'NSJPR';
    font-style: normal;
    font-weight: 400;
    src: local('Noto Sans CJK JP');
}

@font-face {
    font-family: 'NSJPB';
    font-style: normal;
    font-weight: 600;
    src: local('Noto Sans CJK JP');
}

$regular: 'Noto Sans', 'NSJPR', 'Open Sans', sans-serif;
$bold: 'Noto Sans Bold', 'NSJPB', sans-serif;

body {
    font-family: $regular;
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $bold;
}

h2 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}
