main.flag {
    >section {
        margin-left: 295px;
        h5 {
            padding-top: 1rem;
        }
        p {
            font-family: Open Sans;
            font-size: 16px;
        }
    }
}