main.index {
    margin-top: 1rem;

    h2 {
        margin-bottom: 1.25rem;
    }

    .flickity {
        left: 0;
        position: absolute;
        width: 100vw;

        .flickity-cell {
            margin-right: 1.5rem;
            max-height: 14rem;
            min-height: 14rem;
            overflow: hidden;
            width: auto;
        }

        .previous {
            display: none;
        }

        img {
            border-radius: 3px;
            box-shadow: 0 0 1px 0 rgba($metal, .25);
            display: block;
            height: 12.5rem;
            width: auto;
        }

        a {
            color: rgba($metal, .8);
            font-family: 'NSJPB';
            font-size: 1rem;
            text-decoration: none;
        }
    }
}
