.index {
    margin-top: 1rem;

    h2 {
        margin-bottom: 1.25rem;

        &:not(:first-of-type) {
            margin-top: 1.25rem;
        }
    }

    .flickity {
        //position: absolute;
        //min-width: 100vw;
        // width: 100%;

        .flickity-viewport {
            @extend .container;
            overflow: visible;
        }

        // TODO: Properly align the slider with ## Recently Updated
        .flickity-slider {
            width: 100%;
        }

        .flickity-cell {
            margin-right: 1.5rem;
            max-height: 14rem;
            min-height: 14rem;
            overflow: hidden;
            width: auto;
        }

        .flickity-prev-next-button {
            background: rgba($metal, .2);
            border-radius: 0;
            bottom: 0;
            height: 200px;
            margin-top: 10px;
            top: 90px;
            transition: all .2s ease-in;

            &:hover {
                background: rgba($metal, .6);
            }

            &.previous {
                display: none;
            }

            &.next {
                left: 0;
            }

            &[disabled] {
                opacity: 0;
            }

            .arrow {
                fill: $white;
            }
        }

        img {
            border-radius: 3px;
            box-shadow: 0 0 1px 0 rgba($metal, .25);
            display: block;
            height: 12.5rem;
            width: auto;
        }

        a {
            color: rgba($metal, .8);
            font-family: $bold;
            font-size: 1rem;
            text-decoration: none;
        }

        time {
            @extend .clearfix;
            color: rgba($metal, .6);
            float: right;
            font-size: .75rem;
            padding-top: .3rem;
        }
    }
}
