.prefecture {
    @extend .container;
    margin-top: 1rem;

    h2 {
        margin-bottom: 1.25rem;
    }

    // Reduce gutter width
    .row {
        margin: 0 -12px;
    }

    // Reduce gutter width
    [class*="col-"] {
        padding: 0 12px;
    }

    .col-lg-4 {
        margin-bottom: 1.25rem;
        overflow: hidden;

        a {
            color: rgba($metal, .8);
            font-family: $bold;
            font-size: 1rem;
            text-decoration: none;
        }

        p {
            margin: 0 0 .5rem;
        }

        .flag {
            object-fit: cover;
            width: 100%;
        }

        @media (min-width: 576px) {
            .flag {
                height: 145.8px;
            }
        }

        @media (min-width: 768px) {
            .flag {
                height: 199.8px;
            }
        }

        @media (min-width: 992px) {
            .flag {
                height: 176.4px;
            }
        }

        @media (min-width: 1200px) {
            .flag {
                height: 212px;
            }
        }

        .flag-scale {
            &:hover {
                object-fit: contain;
            }
        }

        img {
            border-radius: 3px;
            box-shadow: 0 0 1px 0 rgba($metal, .25);
            width: 100%;
        }

        time {
            @extend .clearfix;
            color: rgba($metal, .6);
            float: right;
            font-size: .75rem;
            padding-top: .3rem;
        }
    }
}
