.prefecture {
    @extend .container;
    margin-top: 1rem;

    h2 {
        margin-bottom: 1.25rem;
    }

    // Reduce gutter width
    .row {
        margin: 0 -12px;
    }

    // Reduce gutter width
    [class*="col-"] {
        padding: 0 12px;
    }

    .col-lg-4 {
        margin-bottom: 1.25rem;
        overflow: hidden;

        a {
            color: rgba($metal, .8);
            font-family: 'NSJPB';
            font-size: 1rem;
            text-decoration: none;
        }

        p {
            margin: 0 0 .5rem;
        }

        .flag {
            // Ratio for 3:5 flags
            min-height: 212px;
            min-width: 354px;
            background-size: cover;
            //background-size: 100% 100%;
            background-position: 50% 50%;
            background-position: center;
            transition: background-size 2s ease-in-out;
        }
        .flag-scale {
            &:hover {
                background-size: contain;
                background-repeat: no-repeat;
            }
        }

        img {
            border-radius: 3px;
            box-shadow: 0 0 1px 0 rgba($metal, .25);
            width: 100%;
        }

        time {
            @extend .clearfix;
            color: rgba($metal, .6);
            float: right;
            font-size: .75rem;
            padding-top: .3rem;
        }
    }
}
