main.prefecture {
    @extend .container;
    margin-top: 1rem;

    figure {
        margin: 0 -.5rem;
        padding: 0 .5rem;
        
        img {
            max-height: 10rem;
        }
    }
}