{{! Flag sidebar }}
<aside>
    <div>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/81/County_Flag_of_Wiltshire.svg/350px-County_Flag_of_Wiltshire.svg.png">
        {{! Details }}
        <p class="sidebar-header">Flag Specifications</p>
        <p><span>Name</span>Bustard Flag</p>
        <p><span>Adopted</span>2009</p>
        <p><span>Flag ratio</span>3:5</p>
        <p class="sidebar-header">Prefecture Details</p>
        <p><span>Area</span>1,346 sq mi</p>
        <p><span>Population</span>684,000</p>
        <p><span>Density</span>510/sq mi</p>
    </div>
</aside>