.cover {
    //@extend .jumbotron;
    @extend .jumbotron-fluid;
    margin-bottom: 0;
    padding: 0;
    position: relative;

    #map {
        background: $pampas;
        max-height: 400px;
        min-height: 400px;
        pointer-events: none;
    }

    .overlay {
        background: linear-gradient(to bottom, transparent 0, rgba($metal, .35) 100%);
        bottom: 0;
        box-shadow: 0 1px 0 0 rgba($metal, .1);
        position: absolute;
        top: 0;
        width: 100%;
    }

    .container {
        position: relative;
        height: 0;
    }

    .cover-info {
        color: $white;
        height: 100px;
        padding-left: 295px;
        position: absolute;
        top: -6.5rem;
        width: 100%;
        z-index: 400;

        h2 {
            font-size: 2rem;
            padding-bottom: .7rem;

            span {
                font-family: $regular;
                font-size: 1rem;
                opacity: .7;
            }
        }

        .location {
            border: 1px solid rgba($white, .2);
            border-radius: 3px;
            color: rgba($white, .8);
            cursor: pointer;
            font-family: Open Sans;
            font-size: .65rem;
            line-height: 0;
            margin-right: .5rem;
            padding: .25rem .5rem;

            &:hover {
                background: rgba($white, .05);
            }

            &:last-of-type {
                margin-right: 0;
            }
        }

        .edit {
            position: relative;

            a {
                backdrop-filter: blur(2px);
                border: 1px solid rgba($white, .2);
                //background: rgba($metal, .05);
                border-radius: 3px;
                bottom: -.2rem;
                color: rgba($white, .6);
                font-family: Open Sans;
                font-size: .65rem;
                padding: .25rem 1rem;
                position: absolute;
                right: 0;
                text-decoration: none;

                &:hover {
                    background: rgba($white, .05);
                    text-decoration: none;
                }
            }
        }
    }
}

// Hide map overlays
.gm-style > div:not(:first-of-type) {
    display: none;
    visibility: hidden;
}
