.cover {
    //@extend .jumbotron;
    @extend .jumbotron-fluid;
    margin-bottom: 0;
    min-height: 400px;
    padding: 0;
    position: relative;

    .map {
        height: 400px;
    }

    .overlay {
        background: linear-gradient(to bottom, transparent 0, rgba($metal, .35) 100%);
        bottom: 0;
        box-shadow: 0 1px 0 0 rgba($metal, .1);
        position: absolute;
        top: 0;
        width: 100%;
    }

    .cover-info {
        color: $white;
        height: 100px;
        padding-left: 295px;
        position: absolute;
        top: 300px;
        width: 100%;
        z-index: 400;

        h2 {
            font-size: 2rem;
            padding-bottom: .3rem;
        }

        a {
            border: 1px solid rgba($white, .2);
            border-radius: 3px;
            color: rgba($white, .8);
            cursor: pointer;
            font-size: .65rem;
            line-height: 0;
            margin-right: .5rem;
            padding: .25rem .5rem;

            &:hover {
                background: rgba($white, .05);
            }

            &:last-of-type {
                margin-right: 0;
            }
        }
    }
}

// Hide map overlays
.gm-style > div:not(:first-of-type)  {
    display: none;
    visibility: hidden;
}
