header {
    @extend .navbar;
    @extend .navbar-dark;
    @extend .navbar-fixed-top;
    transition: all 300ms ease-in-out;

    h1,
    a {
        transition: all 200ms ease-in-out;
    }

    // Make header transparent and links white
    .transparent {
        background: transparent;
        box-shadow: none;

        h1,
        a {
            color: $white;
        }

        a {
            opacity: .6;
        }
    }

    // Standard header behaviour
    &:not(.transparent),
    &:hover {
        background: $white;
        box-shadow: 0 0 1px 0 rgba($metal, .25);
        transition: all 100ms ease-in-out;

        h1,
        a {
            color: $metal;
            transition: color 100ms ease-in-out;
        }

        h1 span,
        a:hover {
            color: $poppy;
        }
    }

    nav {
        @extend .container;
        @extend .nav;
        @extend .navbar-nav;
    }

    h1 {
        @extend .navbar-brand;
        @extend .mb-0;
        font-family: $bold;
        font-size: 1rem;
        line-height: 1.65rem;
        pointer-events: none;

        span {
            color: $poppy;
        }
    }

    a {
        @extend .nav-item;
        @extend .nav-link;
    }
}
