header {
  @extend .navbar;
  @extend .navbar-dark;
  @extend .bg-faded;
  @extend .navbar-fixed-top;
  nav {
    @extend .container;
    @extend .nav;
    @extend .navbar-nav;
  }
  h1 {
    @extend .navbar-brand;
    @extend .mb-0;
    font-size: 1rem;
    line-height: 1.65rem;
    font-family: 'NSJPB';
    span {
      color: $poppy;
    }
  }
  a {
    @extend .nav-item;
    @extend .nav-link;
  }
}

header:not(.transparent),
header.transparent:hover {
  background: $white;
  box-shadow: 0 0 1px 0 rgba(0,0,0,.25);
  h1,
  h1:hover,
  a {
    color: $metal;
  }
  h1 span,
  a:hover {
    color: $poppy;
  }
}

header.transparent {
  background: transparent;
  box-shadow: none;
  h1,
  a {
    color: $white;
  }
}