aside {
    float: left;
    top: 145px + 15px + 7px;
    transition: all 300ms;
    transition-timing-function: cubic-bezier(.39, .575, .565, 1);
    width: 295px;

    div {
        // Push flag up over map
        position: relative;
        right: 15px;
        top: -99px;

        p {
            font-family: Open Sans;
            margin: 5px 0 0;
            padding-bottom: 5px;
            text-align: right;

            &:not(.sidebar-header) {
                border-bottom: 1px dashed lighten($metal, 85);
            }

            // Left align labels
            span {
                float: left;
                text-align: left;
            }
        }

        .sidebar-header {
            border-bottom: 1px solid lighten($metal, 85);
            color: lighten($metal, 60);
            font-family: $regular;
            font-size: .75rem;
            font-weight: 500;
            text-align: left;

            &:first-of-type {
                padding-top: 10px;
            }
        }

        img {
            border-radius: 3px;
            box-shadow: 0 0 1px 0 rgba($metal, .25);
        }
    }

    &.shrink {
        // Sticky aside when scrolled below 'aside { top: value }'
        margin-left: calc(295px / 5);
        position: sticky;
        transition: all 100ms;
        transition-timing-function: cubic-bezier(.39, .575, .565, 1);
        width: calc(295px / 1.25);
    }
}
