<IfModule mod_rewrite.c>
  Options +FollowSymLinks -MultiViews

  RewriteEngine on

  RewriteCond %{REQUEST_FILENAME} -d [OR]
  RewriteCond %{REQUEST_FILENAME} -f
  RewriteRule ^ - [L]

  RewriteCond %{REQUEST_URI} !^/(?:en|ja|ja-hira|ja-kana)/
  RewriteRule ^([^/]+(/.*)?)$ /en/$1 [R=301,L]
</IfModule>