<IfModule mod_rewrite.c>
  Options +FollowSymLinks -MultiViews

  RewriteEngine On

  # No 'language' key in query string
  RewriteCond %{QUERY_STRING} !language=(en|ja|ja-hira|ja-kana) [NC]
  # Redirect to language prefixed uri while keeping the initial uri
  RewriteRule !^(en|ja|ja-hira|ja-kana)/ /en/%{REQUEST_URI} [L,NC,R=301]

  RewriteRule ^(en|ja|ja-hira|ja-kana)(/.*)?$ $2?language=$1 [L,NC,QSA]
</IfModule>