<section class="cover">
    <div id="map">
    </div>
    <div class="overlay"></div>
    <div class="container">
        <div class="cover-info">
        <h2>{{flag}}</h2>
        <a>South West</a>
        <a>England</a>
        <a>United Kingdom</a>
        </div>
    </div>
</section>