<section class="cover">
    <div id="map">
    </div>
    <div class="overlay"></div>
    <div class="container">
        <div class="cover-info">
            <h2>{{name.en}}</h2>
            {{#with location}}
                {{#if position}}
                    <a>{{position}}</a>
                {{/if}}
                {{#each nation}}
                    <a>{{this}}</a>
                {{/each}}
            {{/with}}
        </div>
    </div>
</section>