<section>
    <h5>Symbolism</h5>
    
    <p>A Great Bustard (Otis tarda) is depicted in gold on a solid green circle to represent the open grassland. The border of the circle, in six sections alternating green and white, represents the stone circles of Stonehenge and Avebury in the county. The six portions also represent the six surrounding counties of Gloucestershire, Oxfordshire, Berkshire, Hampshire, Dorset and Somerset.</p>
</section>