    <footer>
        <div>
            <a href='/feedback'>Feedback</a>
            <a href='//github.com/wopian/hatayama' target='_blank'>GitHub</a>
        </div>
    </footer>

    {{!
    <script src='/assets/js/vendor/instantclick.min.js'></script>
    <script data-no-instant>InstantClick.init();</script>
    }}
    <script type='text/javascript' src='/assets/js/vendor/jquery-2.2.0.min.js'></script>
    <script type='text/javascript' src='/assets/js/vendor/tether.min.js'></script>
    <script type='text/javascript' src='/assets/js/vendor/bootstrap.min.js'></script>
    <script type='text/javascript' src='/assets/js/sidebar.js'></script>
    <script type='text/javascript' src='/assets/js/time.js'></script>
    {{#ifEq header 'transparent'}}
        <script type='text/javascript' src='/assets/js/nav.js'></script>
    {{/ifEq}}
    
    {{! Embed Google Maps on flag pages }}
    {{#if googleMaps}}
        <script type='text/javascript' src='/assets/js/map.js'></script>
        <script type='text/javascript' src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCF0qq_0eu2iw2WvUwCheypcjl6pmugNQ4&callback=initialize'></script>
        {{#if latitude}}
            <script type='text/javascript'>
                // Initialise Google Maps
                google.maps.event.addDomListener(
                    window,
                    'load',
                    initialize({{latitude}}, {{longitude}}, {{zoom}})
                );
            </script>
        {{/if}}
    {{/if}}

    {{! Load flickity on index }}
    {{#if index}}
        <script type='text/javascript' src='/assets/js/vendor/flickity.pkgd.min.js'></script>
        <script type='text/javascript' src='/assets/js/flickityOptions.js'></script>
    {{/if}}
</body>
</html>