<!DOCTYPE html>
<html>
<head>
    <title>Hatayama</title>

    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
        
    <!--build:css assets/css/app.min.css-->
    <link href='/assets/css/app.css' rel='stylesheet' type='text/css'>
    <!--endbuild-->
</head>

{{#if_eq top 'flag' }}
    <body id="flag">
{{else}}
    <body>
{{/if_eq}}

{{> app/appNav }}