<!DOCTYPE html>
<html>
<head>
    <title>Hatayama</title>

    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
        
    <!--build:css assets/css/app.min.css-->
    <link href='/assets/css/app.css' rel='stylesheet' type='text/css'>
    <!--endbuild-->

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#af2727">
    <meta name="apple-mobile-web-app-title" content="Hatayama">
    <meta name="application-name" content="Hatayama">
    <meta name="theme-color" content="#af2727">
    <!-- jQuery Shim: withjam/jqshim-head -->
    <script>
        (function(){"use strict";var c=[],f={},a,e,d,b;if(!window.jQuery){a=function(g){c.push(g)};f.ready=function(g){a(g)};e=window.jQuery=window.$=function(g){if(typeof g=="function"){a(g)}return f};window.checkJQ=function(){if(!d()){b=setTimeout(checkJQ,100)}};b=setTimeout(checkJQ,100);d=function(){if(window.jQuery!==e){clearTimeout(b);var g=c.shift();while(g){jQuery(g);g=c.shift()}b=f=a=e=d=window.checkJQ=null;return true}return false}}})();
    </script>
</head>

<body {{#ifEq header 'transparent'}}class="offset"{{/ifEq}}>

{{>app/appNav header=header}}