<header>
    <nav>
        <h1><span>ハタ</span>ヤマ</h1>
        <a href="/">Home</a>
        <a href="#">National</a>
        <a href="#">Prefecture</a>
        <a href="#">Municipal</a>
        <a href="#">Military</a>
        <a href="#">Other</a>
    </nav>
</header>