{{#if_eq header 'transparent'}}
    <header class="transparent">
{{else}}
    <header>
{{/if_eq}}
    <nav>
        <h1><span>ハタ</span>ヤマ</h1>
        <a href="/">Home</a>
        <a>National</a>
        <a href="/prefecture">Prefecture</a>
        <a>Municipal</a>
        <a>Military</a>
        <a>Other</a>
    </nav>
</header>