{{#ifEq header 'transparent'}}
    <header class='transparent'>
{{else}}
    <header>
{{/ifEq}}
    <nav>
        <h1><span>ハタ</span>ヤマ</h1>
        <a href='/'>Home</a>
        <a href='/nation'>National</a>
        <a href='/prefecture'>Prefectural</a>
        {{! TODO: Implement
        <a>Municipal</a>
        <a>Military</a>
        <a>Other</a>
        !}}
    </nav>
</header>