{{>app/appHead}}

<main class='index'>
    {{! Recently Updated Flags}}
    {{#if updated}}
        {{>index/updated}}
    {{/if}}

    {{! British Flags}}
    {{#if british}}
        {{>index/british}}
    {{/if}}

    {{! Japanese Flags}}
    {{#if japanese}}
        {{>index/japanese}}
    {{/if}}
</main>

{{>app/appFooter}}