{{>app/appHead}}

<main class='index'>
    {{! Recently updated flags}}
    {{#if updated}}
        {{>index/updated}}
    {{/if}}

    {{! British flags}}
    {{#if british}}
        {{>index/british}}
    {{/if}}

    {{! Japanese flags}}
    {{#if japanese}}
        {{>index/japanese}}
    {{/if}}
</main>

{{>app/appFooter}}