{{>app/appHead}}

<a href="/prefecture/wiltshire">Wiltshire</a>
<a href="/prefecture/somerset">Somerset</a>
<a href="/prefecture/devon">Devon</a>
<a href="/prefecture/dalmatia">Dalmatia</a>
<a href="/prefecture/hokkaidou">Hokkaidou</a>

<main>
    <div class='row'>
                <div class='col-md-2'>
                    <img src='{{!flagImage}}' class='img-fluid'>
                    <a href='/{{!type}}/{{!slug}}'>{{!name}}</a>
                </div>
    </div>
</main>
{{>app/appFooter}}