{{>app/appHead}}

<main class="prefecture">
    <h2>Nations</h2>
    {{#each nation}}
        <div class='row'>
            {{! Iterate over each flag }}
            {{#each this}}
                <div class='col-lg-4 col-sm-6'>
                    <a href='/nation/{{slug}}'>
                        {{! Apply .flag-scale if not 3:5 flag }}
                        <img class='flag {{#ifNotEq detail.flag.ratio '3:5'}}flag-scale{{/ifNotEq}}'
                             src='/assets/img/{{slug}}-medium.png'>
                        <p>{{name.en}}</p>
                    </a>
                </div>
            {{/each}}
        </div>
    {{/each}}
</main>

{{>app/appFooter}}