{{>app/appHead}}

<main class="prefecture">
    <h2>Prefectures</h2>
    {{#each prefecture}}
        <div class='row'>
            {{#each this}}
                <div class='col-lg-4 col-sm-6'>
                    <a href='/prefecture/{{slug}}'>
                            <img class='flag {{#ifNotEq detail.flag.ratio '3:5'}}flag-scale{{/ifNotEq}}'
                                 src='/assets/img/{{slug}}-large.png'>
                        <p>{{name.en}}</p>
                    </a>
                </div>
            {{/each}}
        </div>
    {{/each}}
</main>

{{>app/appFooter}}