{{>app/appHead header='transparent'}}
{{>flag/map}}

<main class="flag">
    {{>flag/sidebar}}
    <section>
        {{>flag/symbolism}}
        {{>flag/about}}
    </section>
</main>

{{>app/appFooter googleMaps=1 header='transparent' latitude=location.latitude longitude=location.longitude}}